table {
  border: 1px solid;
    border-collapse: collapse;
}
table td{
  border: 1px solid;
  border-collapse: collapse;
  padding: 5px 15px;
  width: 100px;
}
.project{
  display: flex
}
.project table{
  margin: 5%;
  text-align: center;
}